@inherits Palworld.PalworldComponentBase

<div style="max-width: 100%;">
    <MudText Typo="Typo.h4" Class="mb-4">@(string.IsNullOrEmpty(Server.DisplayName) ? "Palworld Server" : Server.DisplayName) Dashboard</MudText>
    
    <MudGrid>
        <!-- Server Info Card -->
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4 mb-4">
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudText Typo="Typo.h5">Server Information</MudText>
                        <MudText Typo="Typo.body1">@Server.Description</MudText>
                        <MudText Typo="Typo.caption">Version: @Server.Version</MudText>
                        <MudText Typo="Typo.caption">World ID: @Server.WorldGuid</MudText>
                    </MudItem>
                    <MudItem xs="12" md="6" Class="d-flex justify-end align-center">
                        <MudChip T="string" Color="@(Server.IsOnline ? Color.Success : Color.Error)" Size="Size.Large" Class="ma-2">
                            @(Server.IsOnline ? "Online" : "Offline")
                        </MudChip>
                        <MudButton Variant="Variant.Filled" 
                                  Color="Color.Primary" 
                                  OnClick="@(() => Server.RefreshServerInfo())"
                                  StartIcon="@Icons.Material.Filled.Refresh"
                                  IconColor="Color.Surface"
                                  Size="Size.Small">
                            Refresh
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        
        <!-- Server Status Cards -->
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4 mb-4">
                <MudText Typo="Typo.h5" Class="mb-2">Server Status</MudText>
                
                @if (Server.Status == null)
                {
                    <MudSkeleton Width="100%" Height="100px" />
                }
                else
                {
                    <MudGrid>
                        <!-- FPS -->
                        <MudItem xs="12" sm="6" md="3">
                            <MudCard Elevation="0" Outlined="true">
                                <MudCardContent>
                                    <MudText Typo="Typo.h6">FPS</MudText>
                                    <MudText Typo="Typo.h4" Color="@GetFpsColor(Server.Status.ServerFps)">
                                        @Server.Status.ServerFps
                                    </MudText>
                                    <MudText Typo="Typo.caption">Frame Time: @Server.Status.ServerFrameTime.ToString("F2") ms</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        
                        <!-- Players -->
                        <MudItem xs="12" sm="6" md="3">
                            <MudCard Elevation="0" Outlined="true">
                                <MudCardContent>
                                    <MudText Typo="Typo.h6">Players</MudText>
                                    <MudText Typo="Typo.h4">
                                        @Server.Status.PlayerCountDisplay
                                    </MudText>
                                    <MudProgressLinear Value="@((Server.Status.CurrentPlayerCount / (float)Server.Status.MaxPlayerCount) * 100)" 
                                                      Color="Color.Primary" Class="my-2" />
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        
                        <!-- Uptime -->
                        <MudItem xs="12" sm="6" md="3">
                            <MudCard Elevation="0" Outlined="true">
                                <MudCardContent>
                                    <MudText Typo="Typo.h6">Uptime</MudText>
                                    <MudText Typo="Typo.h4">
                                        @Server.Status.UptimeFormatted
                                    </MudText>
                                    <MudText Typo="Typo.caption">Server has been running since @DateTime.Now.Subtract(Server.Status.Uptime).ToString("g")</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        
                        <!-- In-Game Days -->
                        <MudItem xs="12" sm="6" md="3">
                            <MudCard Elevation="0" Outlined="true">
                                <MudCardContent>
                                    <MudText Typo="Typo.h6">In-Game Days</MudText>
                                    <MudText Typo="Typo.h4">
                                        @Server.Status.InGameDays
                                    </MudText>
                                    <MudText Typo="Typo.caption">Days passed in the game world</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                }
            </MudPaper>
        </MudItem>
        
        <!-- Player List -->
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Typo="Typo.h5" Class="mb-2">Online Players</MudText>
                
                <MudDataGrid T="PalworldUser" 
                            Items="@Server.Users" 
                            Loading="@Server.IsLoading"
                            Filterable="true"
                            SortMode="SortMode.Multiple"
                            Hover="true"
                            Striped="true"
                            Dense="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Players (@Server.Users.Count)</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="SearchString" Placeholder="Search" Adornment="Adornment.Start" 
                                     AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        <MudSpacer />
                        <MudButton Variant="Variant.Filled" 
                                  Color="Color.Primary"
                                   OnClick="@(() => Server.RefreshServerInfo())"
                                  StartIcon="@Icons.Material.Filled.Refresh"
                                  IconColor="Color.Surface"
                                  Size="Size.Small">
                            Refresh
                        </MudButton>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Player Name" />
                        <PropertyColumn Property="x => x.AccountName" Title="Account" />
                        <PropertyColumn Property="x => x.PlayerId" Title="Player ID" />
                        <PropertyColumn Property="x => x.Ip" Title="IP Address" />
                        <PropertyColumn Property="x => x.Ping" Title="Ping" />
                        <PropertyColumn Property="x => x.Level" Title="Level" />
                        <PropertyColumn Property="x => x.LocationX" Title="X" />
                        <PropertyColumn Property="x => x.LocationY" Title="Y" />
                        <PropertyColumn Property="x => x.BuildingCount" Title="Buildings" />
                        <TemplateColumn Title="Actions" Sortable="false">
                            <CellTemplate>
                                <MudButtonGroup Size="Size.Small" Variant="Variant.Outlined">
                                    <MudIconButton Icon="@Icons.Material.Filled.Message" 
                                                 Color="Color.Primary" 
                                                 Size="Size.Small"
                                                 Title="Send Message" />
                                    <MudIconButton Icon="@Icons.Material.Filled.PersonRemove" 
                                                 Color="Color.Error" 
                                                 Size="Size.Small"
                                                 Title="Kick Player" />
                                    <MudIconButton Icon="@Icons.Material.Filled.Block" 
                                                 Color="Color.Warning" 
                                                 Size="Size.Small"
                                                 Title="Ban Player" />
                                </MudButtonGroup>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="PalworldUser" />
                        <MudSpacer />
                        <MudText Typo="Typo.body2" Class="pa-2">Last updated: @Server.LastUpdated.ToString("g")</MudText>
                    </PagerContent>
                </MudDataGrid>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>