@attribute [Route(AppRoutes.Palworld.Console)]
@implements IDisposable
@inherits Palworld.PalworldPageBase
@using System.Text

<div class="server-controls">
    <button class="btn btn-primary" @onclick="StartServer" disabled="@_isServerRunning">Start Server</button>
    <button class="btn btn-danger" @onclick="StopServer" disabled="@(!_isServerRunning)">Stop Server</button>
</div>

<div class="command-input">
    <input @bind="_command" @bind:event="oninput" @onkeypress="HandleKeyPress" placeholder="Enter command..." disabled="@(!_isServerRunning)" />
    <button class="btn btn-secondary" @onclick="SendCommand" disabled="@(!_isServerRunning)">Send</button>
</div>

<div class="console-output">
    <pre id="console">@_consoleText</pre>
</div>